body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h3 {
    text-align: center;
}

h3 {
    padding-bottom: 15px;
}

.chartContainer {
    padding: 30px 0;
    margin: 20px auto;
}

.chartOneContainer {
    width: 800px;
}

.chartThreeContainer {
    width: 1200px;
}